/* ───────── Base Dark Theme ───────── */
body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

main {
    padding-top: 3rem;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ───────── Typography ───────── */
h1,
h2,
h3,
h4 {
    color: #fff;
    margin: 1rem 0 0.5rem;
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
    line-height: 1.2;
}

h1 {
    font-size: 2.3rem;
    padding-left: 0px;
}

h2 {
    font-size: 1.9rem;
    padding-left: 15px;
}

h3 {
    font-size: 1.5rem;
    padding-left: 30px;
}

h4 {
    font-size: 1.rem;
    padding-left: 45px;
}
